<div class="min-h-100vh bg-cdark text-white d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 p-5">
                <img class="img-fluid" src="../../../../assets/undraw_Imagination_re_i0xi.svg" class="img-fluid" alt="about us" />
            </div>

            <div class="col-lg-5">
                <h1>Über uns</h1>
                <h5 class="mb-4 typewriter-font">Wer sind wir eigentlich?</h5>
                <div>
                    Göttingen Live Kultur e.V. ist der Trägerverein der Konzertgruppen Göttingen Hardcore(Hardcore),
                    Underground
                    Remains(Metal) und der Chamäleon Gruppe(Diverses). Wir sind eine Gruppe aus Leuten, die Spaß an der
                    Musik
                    haben und arbeiten alle ehrenamtlich für den Verein, weil wir Bock auf mehr Konzerte in Göttingen
                    haben.
                    Seit einigen Jahren stellen wir schon, gemeinsam als Verein, verschiedene Konzerte in Göttingen auf
                    die
                    Beine. Die Highlights sind das alljährliche Underground Remains Open Air und das GöHc Sommerfest, zu
                    denen
                    jedes Jahr mehrere hundert Besucher kommen.
                    Zeigt, dass die Szene lebt und besucht uns im Moshpit!
                </div>
                <br />
                <h2>
                    <a href="https://www.facebook.com/goettingenlivekultur/" target="_blank">
                        <fa-icon class="mr-2" [icon]="fafacebook"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/goettingen_live_kultur_e.v/" target="_blank">
                        <fa-icon class="mx-2" [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="https://www.youtube.com/channel/UCnTfPXbl6GFfBR5w_n1g_Zg" target="_blank">
                        <fa-icon class="mx-2" [icon]="faYoutube"></fa-icon>
                    </a>
                    <a href="mailto:goettingenhc@gmail.com" target="_blank">
                        <fa-icon class="mx-2" [icon]="faEnvelope"></fa-icon>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>