// adjust concert image as background image
#about-us-container {
    background-image: url(../../../../assets/concert_cut1.png);
    background-position: bottom left; 
    background-repeat: no-repeat; 
    background-size: 55%;
}

// hide image on smaller devices
@media (max-width: 992px) {
    #about-us-container {
        background-image: none;
    }
}