<div class="container-fluid">
  <div class="row">

    <div *ngFor="let concert of concerts" class="col-12 col-md-6 p-1">
      <div [routerLink]="['/concert', concert.id]"
        [style.background-image]="'url(' + concertService.URL_BACKEND + concert.picture + ')'"
        class="concert-thumbnail">

        <!-- Clean image -->
        <div class="clean-image vanish-on-hover"></div>

        <!-- Bands and date -->
        <div *ngIf="!mobileService.isMobile" class="concert-thumbnail-title">
          <span class="bands">{{ concert.bands }}</span>
          <span class="date">
            <img src="../../../assets/icons/calendar_white.png" height="16px">
            {{ formatDateString(concert.date) }}
          </span>
        </div>

        <!-- Blur effect -->
        <div *ngIf="!mobileService.isMobile" class="concert-thumbnail-image-blurred"></div>

      </div>

      <!-- Additional info box for mobile devices -->
      <div *ngIf="mobileService.isMobile" class="mobile-info-box">
          <h6>{{ concert.bands }}</h6>
          <h6>
            <img src="../../../assets/icons/calendar_white.png" height="16px">
            {{ formatDateString(concert.date) }}
          </h6>
      </div>
    </div>
  </div>
</div>
