<div class="min-h-100vh bg-concert d-flex align-items-center">
    <div class="container">
        <h1 class="text-center text-white mt-5">Unsere Gruppen</h1>
        <h5 class="pb-5 mb-5 text-center text-white">Der Verein setzt sich aus drei Gruppen zusammen.</h5>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 my-5 width-limitation">
                <div class="card text-center">
                    <div class="text-center">
                        <img class="img-fluid card-profile-image" src="../../../../assets/profile_goehc.png"
                            alt="logo goehc" />
                    </div>
                    <div class="card-body h-250px">
                        <h3>Göttingen Hardcore</h3>
                        <p class="card-text">
                            Göttingen Hardcore ist die Gruppe für alles im Bereich Harcore und Punkrock. 
                            Mittlerweile kann die Gruppe auf viele Jahre Konzerte mit Hardcore-Größen aus aller Welt zurückblicken. 
                        </p>
                    </div>
                    <h1 class="text-center mb-4">
                        <a href="mailto:goettingenhc@gmail.com" target="_blank" class="text-primary">
                            <fa-icon class="mx-1 " [icon]="famail"></fa-icon>
                        </a>
                        <a href="https://www.facebook.com/GoettingenHC/" target="_blank" class="text-cdarkblue">
                            <fa-icon class="mx-1 " [icon]="fafacebook"></fa-icon>
                        </a>
                        <a href="https://www.youtube.com/channel/UCnTfPXbl6GFfBR5w_n1g_Zg" target="_blank">
                            <fa-icon class="mx-1 " [icon]="fayoutube"></fa-icon>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5 width-limitation">
                <div class="card text-center">
                    <div class="text-center">
                        <img class="img-fluid card-profile-image" src="../../../../assets/profile_uroa.png"
                            alt="logo underground remains" />
                    </div>
                    <div class="card-body h-250px">
                        <h3>Underground Remains</h3>
                        <p class="card-text">
                            Underground Remains, oder auch "Music Parasites", ist unsere Gruppe für Metalkonzerte. 
                            Das jährliche Underground Remains Open Air zählt bereits seit Jahren zum Highlight der Göttinger Metalszene.
                        </p>
                    </div>
                    <h1 class="text-center mb-4">
                        <a href="mailto:undergroundremains@gmail.com" target="_blank" class="text-primary">
                            <fa-icon class="mx-1 " [icon]="famail"></fa-icon>
                        </a>
                        <a href="https://www.facebook.com/UndergroundRemainsOpenAir/?__tn__=%2Cd%2CP-R&eid=ARBj2mad19Tx0_AKQocpyi_AWAwCuEBHsuVU7m7wYfWkrbXbwK-jdgWxM-sTP1VD6XZ1MO5m6Ri3ecZO"
                            target="_blank" class="text-cdarkblue">
                            <fa-icon class="mx-1 " [icon]="fafacebook"></fa-icon>
                        </a>
                        <a href="https://www.undergroundremains.de/?fbclid=IwAR2wjDI5eu7NYdnvLpFbaaMobEbDZP8-nz8LwSC13E9FD6Z0RUksrBaNtmo"
                            target="_blank" class="text-success">
                            <fa-icon class="mx-1 " [icon]="fawebsite"></fa-icon>
                        </a>
                    </h1>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 my-5 width-limitation">
                <div class="card text-center">
                    <div class="text-center">
                        <img class="img-fluid card-profile-image" src="../../../../assets/profile_chamaeleon.png"
                            alt="logo chamaeleon" />
                    </div>
                    <div class="card-body h-250px">
                        <h3>Chamäleon Gruppe</h3>
                        <p class="card-text">
                            Bei der Chamäleon Gruppe ist der Name Programm. 
                            Sei es ein Ukulelen Konzert, Hip Hop oder Punk, die Gruppe passt sich allem an und ist offen für ein großes Spektrum verschiedener Stile und Künstler. 
                        </p>
                    </div>
                    <h1 class="mb-4">
                        -
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>