<glk-top-img *ngIf="!mobileService.isMobile" content="../../../assets/top-img-movie-woj.webm"
  titleText="Göttingen Live Kultur e.V."></glk-top-img>
<glk-top-img *ngIf="mobileService.isMobile" content="../../../assets/img/title/home.jpg"
  titleText="Göttingen Live Kultur e.V."></glk-top-img>


<div class="content-container" [class.mobile]="mobileService.isMobile">

  <div class="text-container">

    <h2>Über den Verein</h2>
    Göttingen Live Kultur e.V. ist der Trägerverein der Konzertgruppen Göttingen Hardcore(Hardcore), Underground
    Remains(Metal) und der Chamäleon Gruppe(Diverses).
    Wir sind eine Gruppe aus Leuten, die Spaß an der Musik haben und arbeiten alle ehrenamtlich für den Verein, weil wir
    Bock auf mehr Konzerte in Göttingen haben. <br>
    Seit einigen Jahren stellen wir schon, gemeinsam als Verein, verschiedene Konzerte in Göttingen auf die Beine. Die
    Highlights sind das alljährliche Underground Remains Open Air und das GöHc Sommerfest, zu denen jedes Jahr mehrere
    hundert Besucher kommen.
    <br>
    Zeigt, dass die Szene lebt und besucht uns im Moshpit!

    <h2>Nächste Konzerte</h2>
    Das sind die nächsten geplanten Konzerte des Vereins
    <glk-concert-thumbnails [concerts]="nextConcerts$ | async"></glk-concert-thumbnails>

    <h2>Kontakt</h2>

    <glk-contact-information [contactLinks]="contactLinks" name="Göttingen Live Kultur e.V." summary="Trägerverein"
      profilePicture="assets/icons/logo.gif">
    </glk-contact-information>
  </div>
</div>