<glk-top-img content="../../../assets/img/title/nico.jpg"
            titleText="Webseitenverantwortlicher"></glk-top-img>

<div class="content-container" [class.mobile]="mobileService.isMobile">
    <div class="text-container">
  <h2> Moin!</h2>
  Mein Name ist Nico und ich helfe ehrenamtlich, wie alle anderen, dem Verein um in Göttingen Konzerte auf die Beine zu stellen. 
  In meiner Freizeit habe ich außerdem diese Webseite erstellt und pflege sie.  
  Die Webseite nutzt Angular als Framework und der Source Code ist auf <a href="https://github.com/nicofunke/glk-angular">GitHub</a> einsehbar. 
  <br>
  Für jegliche Anmkerungen und Fragen bin ich offen.
  <br><br>
  <div class="text-container">
    <glk-contact-information
      [contactLinks]="contactLinks"
      name="Nico Funke"
      summary="Webseitenverantwortlicher"
      profilePicture="assets/img/profile_nico.jpg">
    </glk-contact-information>
  </div>
</div>
</div>

