<glk-top-img content="../../../assets/img/title/nico.jpg"
            titleText="Webseitenverantwortlicher"></glk-top-img>

<div class="content-container" [class.mobile]="mobileService.isMobile">
    <div class="text-container">
  <h2> Moin!</h2>
  Mein Name ist Nico und ich arbeite, wie alle anderen im Verein, ehrenamtlich um in Göttingen Konzerte auf die Beine zu stellen. 
  In meiner Freizeit habe ich diese Webseite mit Anuglar auf die Beine gestellt. 
  Der Source Code der Seite ist auf <a href="https://github.com/nicofunke/glk-angular">GitHub</a> einsehbar. 
  <br>
  Für Anmerkung oder Kritik stehe ich gerne offen.
  <br><br>
  <div class="text-container">
    <glk-contact-information
      [contactLinks]="contactLinks"
      name="Nico Funke"
      summary="Webseitenverantwortlicher"
      profilePicture="assets/img/profile_nico.jpg">
    </glk-contact-information>
  </div>
</div>
</div>

