#title-home-container {
    background-image: url(/assets/title_home.png);
    background-position: center bottom; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#glk-logo {
    width: 15%;
    min-width:150px;
}



