<div class="h-100vh w-100 d-flex align-items-center" id="title-home-container">
    <div class="container text-center text-white text-shadow ">
        <img id="glk-logo" class="img-fluid mb-5 slow-fadein" src="../../../../assets/logo.gif" alt="logo glk" />
        <h1 class="display-4 font-weight-bold my-4 slow-fadein">Göttingen Live Kultur</h1>
        <div>
            <span class="typewriter-font h3 bg-black py-2 px-4 slow-fadein">Konzerte für Göttingen</span>
        </div>
        </div>
</div>
<app-about-us></app-about-us>
<app-next-shows></app-next-shows>

<app-groups></app-groups>
<app-last-shows class="d-none d-md-block"></app-last-shows>

