@import "~src/styles.scss";

/**
 * Variables
 */
$navbar-height: 60px;
$logo-height: 90px;
$logo-left: 10px;
$logo-top: 10px;
$item-padding: 4px 0px 4px 0px;
$item-margin: 15px 15px;
$item-min-width: 0px;
$item-transition: 300ms ease-in-out;
$navbar-background-transparent: rgba(black, 0);
$navbar-background-normal: rgba($color-gray-9, 0.95);
$navbar-background-transition: background-color 500ms ease-in-out;

 /**
  * Elements
  */

img#nav-bar-logo {
    height: $logo-height;
    top: $logo-top;
    left: $logo-left;
    position: fixed;
    z-index: 101;
}

div#nav-bar-container {
    width: 100%;
    height: $navbar-height;
    background-color: $navbar-background-normal;
    color: $color-gray-3;
    position: fixed;
    top:0;
    z-index: 100;
    -webkit-transition:  $navbar-background-transition;
    transition:  $navbar-background-transition;

    &.transparent{
      background-color: $navbar-background-transparent;
      color: $color-gray-9;
      text-shadow: 1px 1px 2px $color-gray-2;
      -webkit-transition: $navbar-background-transition;
      transition:  $navbar-background-transition;
    }

    div.nav-bar-items-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        height: $navbar-height;
    }
}

div.nav-bar-item {
    min-width: $item-min-width;
    padding: $item-padding;
    margin: $item-margin;
    font-size: $font-size-regular ;
    text-align: center;
    transition: $item-transition;
    position: relative;

    &:hover {
        cursor: pointer;
        transition: $item-transition;
        text-shadow: 1px 1px 2px $color-gray-5;
    }

    &::after {
        position: absolute;
        left: 0px;
        content: "";
        bottom: 0px;
        height: 100%;
        width: 0%;
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-gray-3;
        transition: $item-transition;
    }

    &:hover::after {
        width: 100%;
    }

    &:nth-child(1)::after {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-blue;
    }
    &:nth-child(2)::after {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-orange;
    }
    &:nth-child(3)::after {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-green;
    }
    &:nth-child(4)::after {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-yellow;
    }
}

.selected {
    text-shadow: 1px 1px 2px $color-gray-5;
    box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-gray-3;

    &:nth-child(1) {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-blue;
    }
    &:nth-child(2) {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-orange;
    }
    &:nth-child(3) {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-green;
    }
    &:nth-child(4) {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-yellow;
    }
}
