<div class="placeholder"></div>

<img src="../../assets/icons/logo.gif" id="nav-bar-logo" [class.transparent]="transparent" />

<div id="nav-bar-container" [ngClass]="{
      'transparent': !mobileService.isMobile && transparent,
      'mobile':mobileService.isMobile,
      'folded-out': foldedOut}">

  <div *ngIf="mobileService.isMobile" class="navbar-buttons">
    <div (click)="foldedOut = !foldedOut" class="navbar-button" [ngClass]="{
            'cross': foldedOut,
            'burger': !foldedOut }">
    </div>
  </div>

  <div class="nav-bar-items-container" [class.mobile]="mobileService.isMobile">

    <div class="nav-bar-item" [routerLink]="['/home']" routerLinkActive="selected">
      HOME
    </div>

    <div class="nav-bar-item" [routerLink]="['/goehc']" routerLinkActive="selected">
      GÖTTINGEN HARDCORE
    </div>

    <div class="nav-bar-item" [routerLink]="['/undergroundremains']" routerLinkActive="selected">
      UNDERGROUND REMAINS
    </div>

    <div class="nav-bar-item" [routerLink]="['/chamaeleon']" routerLinkActive="selected">
      CHAMÄLEON
    </div>
  </div>

</div>
