@import "~src/styles.scss";

/**
 * Variables
 */
$navbar-height: 60px;
$logo-height: 90px;
$logo-left: 10px;
$item-padding: 4px 0px 4px 0px;
$item-margin: 15px 15px;
$item-min-width: 0px;
$item-transition: 300ms ease-in-out;
$navbar-background: linear-gradient( rgba($color-gray-9, 0.75), rgba($color-gray-9,0.65));


 /**
  * Elements
  */
div#nav-bar-container {
    width: 100%;
    height: $navbar-height;
    background-image: $navbar-background;
    color: $color-gray-3;

    img#nav-bar-logo {
        height: $logo-height;
        top: 0;
        left: $logo-left;
        z-index: 2;
        position: absolute;
    }

    div.nav-bar-items-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        height: $navbar-height;    
    }
}

div.nav-bar-item {
    min-width: $item-min-width;
    padding: $item-padding;
    margin: $item-margin;
    font-size: $font-size-regular;
    text-align: center;
    transition: $item-transition;
    position: relative;

    &:hover {
        cursor: pointer;        
        color: $color-gray-2;
        transition: $item-transition;
        text-shadow: 1px 1px 2px $color-gray-5;
    }

    &::after {
        position: absolute;
        left: 0px;
        content: "";
        bottom: 0px;
        height: 100%;
        width: 0%;
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-gray-3;
        transition: $item-transition;
    }

    &:hover::after {
        width: 100%;
    }

    &:nth-child(1)::after {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-blue;
    }
    &:nth-child(2)::after {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-orange;
    }
    &:nth-child(3)::after {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-green;
    }
    &:nth-child(4)::after {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-yellow;
    }
}

.selected {
    color: $color-gray-2;
    text-shadow: 1px 1px 2px $color-gray-5;
    box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-gray-3;

    &:nth-child(1) {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-blue;
    }
    &:nth-child(2) {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-orange;
    }
    &:nth-child(3) {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-green;
    }
    &:nth-child(4) {
        box-shadow: inset 0 0px 0 white, inset 0 -2px 0 $color-yellow;
    }
}
