<div class="min-h-100vh bg-cdark text-white d-flex align-items-center">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-5">
                <h1>Kontakt</h1>
                <h5 class="mb-4 typewriter-font">Wie kann man uns erreichen?</h5>
                <div>
                    Falls du noch Fragen zu unserem Verein hast, neue Ideen einbringen willst oder uns helfen willst schreib uns gerne!
                    Wir sind immer an neuen Vorschlägen oder Hilfe interessiert.
                    Zu erreichen sind wir jederzeit über Email oder Social Media. 
                </div>
                <br />
                <h2>
                    <a href="https://www.facebook.com/goettingenlivekultur/" target="_blank">
                        <fa-icon class="mr-2" [icon]="fafacebook"></fa-icon>
                    </a>
                    <a href="https://www.instagram.com/goettingen_live_kultur_e.v/" target="_blank">
                        <fa-icon class="mx-2" [icon]="faInstagram"></fa-icon>
                    </a>
                    <a href="https://www.youtube.com/channel/UCnTfPXbl6GFfBR5w_n1g_Zg" target="_blank">
                        <fa-icon class="mx-2" [icon]="faYoutube"></fa-icon>
                    </a>
                    <a href="mailto:goettingenhc@gmail.com" target="_blank">
                        <fa-icon class="mx-2" [icon]="faEnvelope"></fa-icon>
                    </a>
                </h2>
            </div>
            <div class="col-lg-5 offset-lg-1 p-5 slow-fadein">
                <img class="img-fluid " src="../../../../assets/undraw_personal_opinions_g3kr.svg" class="img-fluid" alt="contact" />
            </div>
        </div>
    </div>
</div>
<app-groups></app-groups>