<div class="contact-container" [class.mobile]="mobileService.isMobile">
  <div class="contact-profile-picture"></div>
  <div class="contact-information">
    <div class="contact-header">Nico Funke</div>
    <div class="contact-description">Webseitenverantwortlicher</div>
    <div class="contact-social-media">
      <img src="../../../assets/icons/social-media/mail.png">
      <img src="../../../assets/icons/social-media/instagram.png">
      <img src="../../../assets/icons/social-media/facebook.png">
      <img src="../../../assets/icons/social-media/youtube.png">
    </div>
  </div>
</div>
