<glk-top-img
  *ngIf="!!concert"
  [content]="concertService.URL_BACKEND + concert.picture"
  [titleText]="">
</glk-top-img>

<div *ngIf="!!concert" class="content-container concert-detail-container">

  <!-- Left info box  -->
  <div class="concert-info-box">
    <div class="concert-image-container">
      <img [src]="concertService.URL_BACKEND + concert.picture" />
    </div>

    <!-- Details -->
    <div class="concert-info-box-details">
      <div *ngIf="concert.date" class="detail-item">
        <img src="../../../assets/icons/calendar_black.png" />
        <div>{{ formattedDate }}</div>
      </div>
      <div *ngIf="concert.place" class="detail-item">
        <img src="../../../assets/icons/location_black.png" />
        <div>{{ concert.place }}</div>
      </div>
    </div>
    <div class="concert-info-box-details">
      <div *ngIf="concert.doors" class="detail-item">
        <img src="../../../assets/icons/clock_black.png" />
        <div>Doors: {{ concert.doors }}</div>
      </div>
      <div *ngIf="concert.begin"  class="detail-item">
          <img src="../../../assets/icons/flash_black.png" />
          <div>Beginn: {{ concert.begin }}</div>
        </div>
    </div>
  </div>

  <div class="concert-detail-description">
    <h2>{{ concert.bands }}</h2>

    <div [innerHTML]="concert.description"></div>
  </div>
</div>
