@import "~src/styles.scss";

/**
 * Variables
 */
$main-container-margin-top: -200px;
$image-max-width: 500px;
$image-max-heigth: 500px;
$info-box-margin-top: -200px;
$info-box-color: $color-gray-9;

/**
 * Elements
 **/
.concert-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  margin-top: $main-container-margin-top;
}

.concert-info-box {
  display: inline-block;

  background-color: $info-box-color;
  border-radius: 5px;
  padding: 5px;
  margin-top: $info-box-margin-top;
  box-shadow: 2px 2px 10px $color-gray-3;

  hr {
    width: 85%;
  }
}

.concert-info-box-details {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .detail-item {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 2px;
  }

  img {
    margin-right: 5px;
    height: 20px;
  }
}

.concert-image-container {
  max-width: $image-max-width;
  // max-height: $image-max-heigth;

  img {
    max-width: 100%;
    max-height: $image-max-heigth;
    height: auto;
    width: auto;
  }
}

.concert-detail-description {
  padding: 10px;
  max-width: 600px;

  h2 {
    margin-bottom: 5px;
  }
}
