@import "~src/styles.scss";

/**
 * Variables
 */
 $img-size: 500px;

 /**
  * Elements
  */
  div.top-img-container {
      max-height: $img-size;
      overflow: hidden;      
      
    div.top-img-inner-container{
        margin: -8px;
        position: relative;
    }

    img {
        min-width: 100%;
        min-height: $img-size;
        filter: blur(4px);
    }

    .top-img-shadow {
      position: absolute;
      top: 10px;
      background-color: rgba($color-gray-2, 0.5);
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      height: 100%;
    }
}

.top-img-text{
  color: #fff;
  text-shadow: 1px 1px 1px $color-gray-2;
  font-size: 50px;
  position: absolute;
  top: 380px;
  width: 100%;
  text-align: center;
}