@import "~src/styles.scss";
/**
 * Variables
 */
$navbar-height: 60px;
$logo-height: 100px;
$item-padding: 14px;
$border-bottom-height: 6px;
$item-min-width: 100px;
$item-margin-left: 10px;
$navbar-background: linear-gradient( $color-gray-2, $color-gray-3);

 /**
  * Elements
  */
div#nav-bar-container {
    width: 100vw;
    min-width: 100%;
    height: $navbar-height;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;

    background-image: $navbar-background;
    color: $color-gray-8;
    border-bottom: $border-bottom-height solid $color-gray-5;

}

img#nav-bar-logo {
    height: $logo-height;
    margin-bottom: ($navbar-height - $logo-height);
}

div.nav-bar-item {
    min-width: $item-min-width;
    padding: $item-padding;
    margin-bottom: - $border-bottom-height;
    margin-left: $item-margin-left;
    border-bottom: $border-bottom-height solid $color-gray-5;

    font-size: $font-size-regular;
    text-align: center;

    transition: 300ms ease-in-out;

    &:hover {
        cursor: pointer;
        border-bottom: $border-bottom-height solid $color-gray-9;
        color: #fff;
        transition: 300ms ease-in-out;
        text-shadow: 1px 1px 2px $color-gray-5;
    }

    &:nth-child(2):hover {
        border-bottom-color: $color-blue;
    }
    &:nth-child(3):hover {
        border-bottom-color: $color-yellow;
    }
    &:nth-child(4):hover {
        border-bottom-color: $color-orange;
    }
    &:nth-child(5):hover {
        border-bottom-color: $color-green;
    }
}
