<glk-top-img content="../../../assets/img/title/cham.jpeg"
            titleText="Chamäleon Gruppe"></glk-top-img>

<div class="content-container" [class.mobile]="mobileService.isMobile">

    <div class="text-container">

    <h2>Über die Chamäleons</h2>
    Bei der Chamäleon Gruppe ist der Name Programm. Sei es ein Ukulelen Konzert, Hip Hop oder Punk, das Chamäleon passt sich allem an und ist offen für ein großes Spektrum verschiedener Stile und Künstler.

    <h2>Nächste Konzerte</h2>
    Das sind die nächsten geplanten Konzerte der Crew
    <glk-concert-thumbnails [concerts]="nextConcerts$ | async"></glk-concert-thumbnails>

  </div>
</div>

