<glk-top-img content="../../../assets/img/title/goehc.jpg" titleText="Göttingen Hardcore"></glk-top-img>

<div class="content-container" [class.mobile]="mobileService.isMobile">

  <div class="text-container">

    <h2>Über die Gruppe</h2>
    Nachdem sich einige Freunde mehrmals auf Hardcore Konzerten außerhalb Göttingens trafen stand die Idee schnell fest:
    Göttingen braucht mehr Hardcore Konzerte!
    <br>
    Ein schwerer Start hielt die Gruppe nicht auf und nach einem Jahr Bemühungen kamen endlich die ersten Hardcore
    Konzerte nach Göttingen. Mittlerweile kann die Gruppe auf einige Jahre Hardcore Konzerte in Göttingen zurückblicken.
    <br>
    Hardcore Größen wie Stick To Your Guns, Madball, Bane, Sick Of It All und Being As An Ocean waren dank der Crew
    bereits in Göttingen.
  </div>
  <div class="embedded-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xoYWa8LvrYA" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="text-container">


    <h2>Kontakt</h2>

    <glk-contact-information [contactLinks]="contactLinks" name="GöHc" summary="Hardcore Crew"
      profilePicture="assets/img/profile_goehc.png">
    </glk-contact-information>

  </div>
</div>
<div class="content-container mt-4" [class.mobile]="mobileService.isMobile">
  <div class="text-container">
    <h2>Nächste Konzerte</h2>
    Das sind die nächsten Konzerte des Vereins
    <glk-concert-thumbnails [concerts]="nextConcerts$ | async"></glk-concert-thumbnails>

  </div>
</div>