@import "custom-bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "custom-animations.scss";

// Main elements
a {
    color: $cred;
    &:hover {
        color: $cdarkred;
        text-decoration: none;
    }
}

// Typewriter font
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
.typewriter-font {
    font-family: "Courier Prime", monospace;
}

// Custom classes
.h-100vh {
    height: 100vh;
}

.min-h-100vh {
    min-height: 100vh;
}

.uppercase {
    text-transform: uppercase;
}

.bg-none {
    background-color: hsla(255, 255, 255, 0);
}

.text-shadow {
    text-shadow: 1px 1px 1px black;
}

.bg-fixed-cover-darken {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient( black, $cdark);
        opacity: 0.96;
    }
}

.bg-concert {
    background-image: url(/assets/concert1.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-hover-underline:hover {
    text-decoration: none;
}

.cursor-pointer:hover {
    cursor: pointer;
}
